*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}
.max-width{
    max-width: 1300px;
    padding:0 80px;
    margin: auto;
}
.navbar{

    /* opacity: .9; */
    position: fixed;
    z-index: 1;

    width: 100%;
    z-index: 999s;
    padding: 30px 0;
    background: rgb(0, 0, 17);
    font-family:sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: rgb(0, 0, 17);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: rgb(216, 147, 147);
    font-size:40px;
    font-weight: 700;
}
.navbar .logo a span{
    color: rgb(0, 0, 17);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: brown;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color:rgb(126, 167, 120);
}
.navbar.sticky.menu li a:hover{
    color: #fff;
}.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.logo{
    border-style: solid;
    border-width: 1px ;
    padding:auto;
    border-radius: 5px;
    border-color: white;
}
.home{
    display: flex;
    background: url("white.jpg") no-repeat center;
    height: 100vh;
    color:#fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}
.home .max-width{
    margin-right:0px;
}
.home .home-content .txt-1{
    color: rgb(0, 0, 17);
    font-size: 30px;
}
.home .home-content .txt-2{
    font-size: 80px;
    font-weight: 600;
    margin-right: -3px;
    color:  rgb(0, 0, 17);
}
.home .home-content .txt-3{
    font-size: 50px;
    margin: 5px 0;
    color: rgb(0, 0, 17);
}
.home .home-content .txt-3 span{
    color:rgb(167, 120, 120);
    font-weight: 700;
    font-size: 70px;
}
/*about*/
.about .about-content .column{
    width: 50%;
}
#img-1{
    width: 200px;
    height: 350;
    position: absolute;
    z-index: 0;
    top: 200px;
    left: 300px;
    border-radius: 100%;
    
}
section{
    padding: 100px 0;
}
.about,.services,.skill{font-family: sans-serif;
}
.ab .title{
    color: rgba(2, 2, 46, 0.904);
    text-align: center;
    font-size: 45px;
    font-weight: 500;
   
    padding-bottom: 20px;
    font-family: sans-serif;
}
.container{
    max-width: 1100px;
    margin:auto;
}
#ab-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
#show-img{
    background: url('b.jpg') no-repeat center center/cover ;
    height: 400px; 
     width: 330px;
    /* width: 100%; */
    object-fit: cover;
    border-radius: 6px;
    margin: 1rem;
    display: inline-block;
    margin:auto;
}

#ab-about .show-content{
    font-family: sans-serif;
    font-size: 17px;
    padding: 3rem;
}h2{
    font-size: 25px;
}p{
    font-size: 17px;
}

/*services*/
.services{
    color:rgb(173, 184, 192);
    background: black;
    overflow: auto;
}
.services.serv-content{
    display: flex;
}
.services .title{
    text-align: justify;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 150px;
    padding-bottom: 20px;
    font-family: sans-serif;
    color: wheat;
}
div.box img{
    border-style: hidden;
    
    height: auto;
    width: 100%;
}div.text{
    padding: 15px;
    text-align: center;
}div.box{
    margin: -120px 100px 150px 80px;
    float: left;
    width: 180px;
}div.box:hover{
    border: 1px solid #777;
}.see{
    margin-top:20px;
    margin-left: 50px;

}
/*skills*/
.skill .title{
    color: rgba(2, 2, 46, 0.904);
    width: 55%;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    
    padding-bottom: 20px;
    font-family: sans-serif;


}div.txt{
    width: 50%;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;  
    margin-right: 40px;
    padding-top: 3rem;
    
}

.skill .skill-content{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}.skill .skill-content .skill-bar{
    text-align: justify;
    width: 50%;
    background: #fff;
    border-radius: 10px;
    padding:15px 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    float: right;
}.skill .skill-content .skill-bar .bar{
    margin: 20px 0;
}.skill .skill-content .skill-bar .bar:first-child{
    margin: 20px 0;
}.skill-bar .bar .info{
    margin-bottom: 5px;
}
.skill .skill-content .skill-bar .bar .info span{
    font-size: 17px;
    font-weight: 500;
  

}.skill .skill-content .skill-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow:inset 0px 1px 1px rgba(0,0,0,0.5),
                     0px 1px rgba(255,255,255,0.8);
    animation:animate 1s cubic-bezier(1,0,0.5,1) forwards;
}div.progress-line span{
    height: 100%;
    width: 80%;
    background: #6665ee;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation:animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.progress-line.html span{
    width: 85%;
}.progress-line.css span{
    width: 50%;
}.progress-line.js span{
    width: 65%;
}.progress-line.php span{
    width: 80%;
}.progress-line.mysql span{
    width: 60%;
}.progress-line.java span{
    width: 55%;
}.progress-line.c span{
    width: 85%;
}.progress-line.python span{
    width: 70%;
}
.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}
body{
    min-height:100vh;
    background: url('img/pexels-hasan-albari-1229861.jpg') no-repeat;
    background-size: cover;
   /* display: flex;*/
    justify-content: center;
}h2{
    color: black;
}
.contact-section{
    margin-top: 110px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.contact-info{
   color: black;
   max-width: 500px;
   line-height: 65px;
   padding-left: 50px;
   font-size: 18px;
}
.contact-info img{
    margin-right: 20px;
    font-size: 25px;
}
.contact-form{
    max-width: 700px;
    margin-right: 50px;
}
.contact-info.contact-form{
    flex:1;
}
.contact-form h2{
   color:#fff;
   text-align: center;
   font-size: 35px; 
   /*text-transform: uppercase;******/
   margin-bottom: 30px;
}
.contact-form .text-box{
    background-color: #000;
    color: #fff;
    border: none;
    width: calc(50%-10%);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 28px;
    opacity: 0.9;
}
.contact-form textarea{
    background:#000 ;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    max-height: 400px;
    resize:vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom:20px ;
    opacity: 0.9;
}
.contact-form .send-btn{
    float: right;
    background:#2e94e3 ;
    color: #fff;
    border: none;
    width:120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}
.contact-form .send-btn:hover{
    background: #0582E3;
}
.contact{
    padding-left: 35px;
}.footer{
    background-color:rgb(80, 75, 75);
    padding-left: 35%;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    color: rgb(234, 236, 238);
}
@media screen  and (max-width:950px){
    .skill .skill-content{
        flex-direction: column;
        margin-top: 0;
    
    }.skill .skill-content .skill-bar{
        width: 75%;
    }.skill .skill-content .txt{
        width: 100%;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-info, .contact-form{
        margin: 30px 50px;
    }
    .contact-form h2{
        font-size: 30px;
    }
    .contact-form .text-box{
        width:100%
    }    
   
    
}@media screen and (max-width: 600px){
    .navbar-menu{

        display: flex;
        flex-direction: column;
    }
   
}/*home section responsive*/
@media screen and (max-width: 800px){
    .show-content{
        /* width: 100% !important; */
        padding: 2rem 3rem !important;
        
    }
    #ab-about{
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr;
        
    }
}

@media screen and (max-width:600px){
    .home .home-content{
        margin-top: 150px;
    }
    .home .home-content .txt-1{
        color: rgb(0, 0, 17);
        font-size: 20px;
    }
    .home .home-content .txt-2{
        font-size: 40px;
        font-weight: 400;
        margin-right: -3px;
        color:  rgb(0, 0, 17);
    }
    .home .home-content .txt-3{
        font-size:30px;
        margin: 5px 0;
        color: rgb(0, 0, 17);
    }
    .home .home-content .txt-3 span{
        color:rgb(167, 120, 120);
        font-weight: 400;
        font-size: 40px;
    }
}
@keyframes showText2{
    100%{
        opacity: 1;
    }
}
.progress-line.html span::after{
    content: "85%";
}.progress-line.css span::after{
    content: "50%";
}.progress-line.js span::after{
    content: "65%";
}.progress-line.php span::after{
    content: "80%";
}.progress-line.mysql span::after{
    content: "60%";
}.progress-line.java span::after{
    content: "55%";
}.progress-line.c span::after{
    content: "85%";
}.progress-line.python span::after{
    content: "70%";
}

